<section class="section-contact" id="contact-us">
  <div class="container">
    <h2>Contact Us</h2>
    <!-- Developer's list-->
    <div class="col-md-offset-2 col-md-4 contact" >
      <a href="https://dev.eclipse.org/mailman/listinfo/january-dev">
        <button type="button" class="btn btn-xs btn-primary">
          <span class="ionicons ion-ios-people"></span>
        </button>
      </a>
    </div>
    <!-- Bugs-->
    <div class="col-md-4 contact" >
      <a href="https://github.com/eclipse/january/issues">
        <button type="button" class="btn btn-xs btn-warning">
          <span class="ionicons ion-bug"></span>
        </button>
      </a>
    </div>
  </div>

  <footer class="footer">
    <a href="#" class="footer-toggler">show/hide footer</a>
    <a target="_blank" href="http://www.eclipse.org" class="lnk-footer">Eclipse Home</a>
    <a target="_blank" href="http://www.eclipse.org/legal/privacy.php" class="lnk-footer">Privacy Policy</a>
    <a target="_blank" href="http://www.eclipse.org/legal/termsofuse.php" class="lnk-footer">Terms of Use</a>
    <a target="_blank" href="http://www.eclipse.org/legal/copyright.php" class="lnk-footer">Copyright Agent</a>
    <a target="_blank" href="http://www.eclipse.org/legal" class="lnk-footer">Legal</a>

    <div class="link_icons">
      icons: <a href="http://getbootstrap.com/components/">glyphicon</a>, <a href="http://ionicons.com">ionicon</a>
    </div>
    <!-- End the footer -->
  </footer>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
