<header class="header"{% if page.img %} style="background-image:url(/img/{{ page.img }})"{% endif %}>
  <div class="l-container">
      <a class="header-logo">
          <a href="https://www.eclipse.org/"><img  id="eclispe-logo" src="{{site.url}}/img/eclipse5.png" alt="Logo"></a>
          <a href="https://science.eclipse.org/"><img href="" id="science-logo" src="{{site.url}}/img/Science512.png" alt="Logo"></a>
      </a>
      <nav class="menu">
          <a href="{{site.url}}/" class="menu-item">Home</a>
          <a href="{{site.url}}/getting-started/" class="menu-item">Getting Started</a>
          <a href="{{site.url}}/docs/" class="menu-item">Docs</a>
          <a href="{{site.url}}/test/" class="menu-item">test</a>
          <a href="{{site.url}}/test2/" class="menu-item">test2</a>
          <a href="{{site.url}}/about/" class="menu-item">About</a>
      </nav>
      <div class="cb"></div>
      <div class="header-baseline">
          <div class="header-baseline-l header-baseline-l2">{{ site.title }}</div>
      </div>
  </div>
</header>
