<header class="header"{% if page.img %} style="background-image:url(/img/{{ page.img }})"{% endif %}>
  <div class="l-container">
    <div class="container">
      <a href="{{site.url}}/" class="header-logo">
          <img src="{{site.url}}/img/eclipse.png" alt="Logo">
          <img src="{{site.url}}/img/eclipsesci.png" alt="Logo">
      </a>
      <nav class="menu">
          <a href="{{site.url}}/january/" class="menu-item">Home</a>
          <a href="{{site.url}}/getting-started/" class="menu-item">Getting Started</a>
          <a href="{{site.url}}/about/" class="menu-item">About</a>
      </nav>
    </div>
      <div class="cb"></div>
      <div class="header-baseline">
          <div class="header-baseline-l header-baseline-l2">{{ site.title }}</div>
      </div>
  </div>
</header>
