---
layout: docs
---
<section class="section">
    <div class="l-container">

        <div class="col-md-9" id="lefile">
          <div class="section-content">
              {{ content }}
          </div>
        </div>
        <div class="col-md-3">
          <div class="posts">
            <div class="title">
              ______________________
              <br>
              <a href="{{site.url}}/getting-started/"><b>Getting Started</b></a>
            </div>
              {% for post in site.posts %}
              {% if post.categories contains 'getting-started' %}
              <div class="post">
                  <div class="post-content">
                      <h2 class="post-title"><a href="{{ post.url }}"><b>- </b>{{ post.title }}</a></h2>
                  </div>
              </div>
              {% endif %}
              {% endfor %}

              <div class="title">
                ______________________
                <br>
                <a href="{{site.url}}/docs/"><b>News</b></a>
              </div>
              {% for post in site.posts %}
              {% if post.categories contains 'docs' %}
              <div class="post">
                  <div class="post-content">
                      <h2 class="post-title"><a href="{{ post.url }}"><b>- </b>{{ post.title }}</a></h2>
                  </div>
              </div>
              {% endif %}
              {% endfor %}

              <div class="title">
                ______________________
                <br>
                <a href="{{site.url}}/docs/">See more ...</a>
              </div>
            </div>
        </div>
    </div>
</section>
