---
layout: default
---
<section class="section">
    <div class="l-container">
        <div class="section-title">
            <h1 style="width: 100%; text-align:left; ">{{ page.title }}</h1>
        </div>

        <div class="section-content">
            {{ content }}
        </div>
    </div>

    <footer class="footer">
			<a href="#" class="footer-toggler">show/hide footer</a>
			<a target="_blank" href="http://www.eclipse.org" class="lnk-footer">Eclipse Home</a>
			<a target="_blank" href="http://www.eclipse.org/legal/privacy.php" class="lnk-footer">Privacy Policy</a>
			<a target="_blank" href="http://www.eclipse.org/legal/termsofuse.php" class="lnk-footer">Terms of Use</a>
			<a target="_blank" href="http://www.eclipse.org/legal/copyright.php" class="lnk-footer">Copyright Agent</a>
			<a target="_blank" href="http://www.eclipse.org/legal" class="lnk-footer">Legal</a>

			<div class="link_icons">
				icons: <a href="http://getbootstrap.com/components/">glyphicon</a>, <a href="http://ionicons.com">ionicon</a>
			</div>
			<!-- End the footer -->
		</footer>
</section>
