---
layout: docs
---
<section class="section">
    <div class="l-container">

        <div class="col-md-9" id="lefile">
          <div class="section-content">
              {{ content }}
          </div>
        </div>
        <div class="col-md-3">
          <div class="posts">
            <div class="title">
              <h1>Getting Started</h1>
            </div>
              {% for post in site.posts %}
              <div class="post">
                  <div class="post-content">
                      <h2 class="post-title"><a href="{{ post.url }}"><b>- </b>{{ post.title }}</a></h2>
                  </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
